<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key ="lsinnkpp" value="false"/>
		<add key ="KPP" value=""/>
		<add key ="KBKTrue" value =""/>
		<add key="KBKFalse" value=""/>
		<add key="KBKRent" value=""/>
		<add key="StartIndexNumberLs" value ="3"/>
		<add key="LengNumbersLs" value="8"/>
		<add key="INNGovServis" value=""/>
		<add key ="AllBankLg" value ="true"/>
		<add key ="AllBankLv" value ="true"/>
		<add key ="OtherLv" value ="true"/>
		<add key ="MassImport" value="false"/>
	</appSettings>
</configuration>